html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
td, th{
    padding:5px;
}
.dataTables_wrapper .dataTables_paginate {
    margin-top:10px;
}