@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
@section Styles{
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
}
    <style>
        body {
            background: #161616;
        }

        .fiber {
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        }
    </style>
    <h1 class="text-center bg-warning fw-bold p-2" style="font-size:30px">Reset Password</h1>
    <form method="post" class="p-5 fiber" id="myForm">
        <div class="container">
            <div class="row justify-content-center text-end">
                <div class="col-sm-5 mt-3">
                    <div class="input-group">
                        <input asp-for="Password" type="password" class="form-control" placeholder="New password" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-sm-5 mt-3">
                    <div class="input-group">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Retype new password" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            <br />
            <div class="text-center mt-3">
                <button id="button" type="submit" class="btn btn-warning fw-bold p-2">Reset password</button>
            </div>
        </div>
</form>

    @section scripts{
    <partial name="_ValidationScriptsPartial" />
}
