@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles{
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
}
<style>
    *{
        font-family:farnaz;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
